
Library/
Logs/

.vs/LightShadowAR_Arduino/FileContentIndex/d53ff5fd-775a-42de-bf8b-a4f2dacd43df.vsidx

Assembly-CSharp.csproj

Temp/

obj/Debug/

*.sln

.vs/LightShadowAR_Arduino/FileContentIndex/read.lock

.vs/LightShadowAR_Arduino/v17/.suo

*.vsidx
